.property-details{
    margin: 1rem 1.5rem;
}
.property-details .property-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.property-images .rooms-display{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-basis:  40%;
    gap: 0.7rem;
}
.property-images .rooms-display img{
    max-width: 300px;
}
 .rooms-display :nth-child(1){
    border-top-left-radius: 20px;
}
.rooms-display :nth-child(3){
    border-bottom-left-radius: 20px;
}
.property-images .building-display{
    flex-basis:  60%;
}
.property-images .building-display img{
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}