  
  .property-grid {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #565454;
    /* gap: 15px; */
  }
  

  .file-grid{
    width: 100%;
  }

  .file img{
    width: 90%;
    margin: 20px;
    
  }