.logo{
    width: 5.7rem;
}
.loggedin-nav{
    background-color: var(--bg-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 1.4rem;
    position: sticky;
    top: 0;
    z-index: 2;
}
.loggedinNavIcons{
    font-size: 1.6rem;
}
.nav-left{
    display: flex;
    align-items: center;
}
.search-bar-nav{
    background-color: rgba(47, 0, 177, 0.07);
    display: flex;
    padding: 0.4rem;
    border-radius: 25px;
    padding-left: 0.3rem;
    margin-left: 1.5rem;
    justify-content: center;
    align-items: center;
} 
.search-bar-nav i{
    margin: 0 0.3rem;
    color: var(--bg-3);
}
 .search-bar-nav input{
    background-color: transparent;
    padding: 0.5rem;
    border: none;
    color: var(--bg-1);
    width: 17rem;
    outline: none;
}

.nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-right .profile-settings{
    margin-left: 1rem;
    height: 3rem;
}
.nav-right .profile-settings img{
    height: 100%;
}
.nav-right .theme{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.nav-right .theme img{
    width: 1.8rem;
}

@media screen and (max-width: 700px){
    .search-bar-nav{
        display: none;
    }
}