.navbar-container{
    position: sticky;
    top: 0;
    z-index: 4;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-w2);
    color: var(--bg-white);
    padding: 0.8rem 2rem;
}
nav .logo{
    width: 7rem;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
}
.nav-links .link{
    color: var(--bg-1);
    text-decoration: none;
}
.nav-links .link i{
    color: var(--bg-4);
}
.navbar-container nav .bars{
    display: none;
    color: var(--bg-1);
    font-size: 1.4rem;
}
.mobile-nav-links{
    position: absolute;
    top: 3.5rem;
    right: 0.3rem;
    background-color: var(--bg-2);
    z-index: 3;
}
.mobile-nav-links li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0.7rem 0.5rem;
}
.mobile-nav-links li .links{
    color: var(--bg-white);
}

@media screen and (max-width: 800px){
    .nav-links{
        display: none;
    }
    .navbar-container nav .bars{
    display: block;
}
}