


.imageGallery {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.bigImage {
    margin-bottom: 20px;
}

.bigImage img {
    width: 600px; 
    height: 400px;
    border: 2px solid #ccc;
}

.smallImagesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.smallImages {
    width: 100px; 
    height: 100px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.smallImages:hover {
    transform: scale(1.1);
    border: 2px solid #007bff; 
}

.info{
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.label{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    width: fit-content;

}

.value{
    width: fit-content;
    text-align: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

.edit{
    margin-right: 5px;
    width: fit-content;
    height: 50px;
    background-color: green;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
}

.delete{
    margin-left: 5px;
    width: fit-content;
    height: 50px;
    background-color: red;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
}